<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Card</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../assets/icon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
            <h1 class="logo"><a href="/panel">Virtual Wallet <img src="../assets/logo.jpg"/></a></h1>
        </div>
        <div id="sidebar-inner" class="list-group list-group-flush">
            <ul>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/profile}">Profile</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions/{id}/user(id=${userId})}">Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/cards}">Cards</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users/{id}/contacts(id=${userId})}">Contacts</a>
                </li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/transactions}" th:if="${isAdmin}">All Transactions</a></li>
                <li><a class="list-group-item list-group-item-action list-group-item-light p-3 colorize"
                       th:href="@{/users}" th:if="${isAdmin}">All Users</a></li>
            </ul>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">« Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul id="bluetop" class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/panel"><i class="fas fa-home"></i></a>
                        </li>
                        <li>
                            <form method="get" th:action="@{/notifications}">
                                <button type="submit" class="icon-button">
                                    <span class="material-icons">notifications</span>
                                    <span class="icon-button__badge"
                                          th:text="${notifications}">Notifications count</span>
                                </button>
                            </form>
                        </li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/deposit}">+ Add
                            money</a></li>
                        <li class="nav-item active"><a class="nav-link" th:href="@{/transactions/new/transfer}">→
                            Send</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/auth/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container" style="margin-top: 5rem;">
            <div class="row">
                <div class="col-lg-5 col-xl-5 mx-auto">
                    <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-4 p-sm-5">
                            <div class="text-center br"><h3 class="login-heading">Add Card</h3></div>
                            <div class="text-center br">
                                <img class="img-fluid"
                                     src="https://img.icons8.com/color/48/000000/mastercard-logo.png"/>
                                <img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png"/>
                            </div>
                            <!-- Transfer Form -->
                            <br/>
                            <form th:action="@{/cards/new}"
                                  th:object="${card}" method="post">
                                <div class="form-floating mb-3">
                                    <input type="text" th:field="*{cardNumber}" placeholder="Card Number"
                                           class="form-control"/>
                                    <label th:text="#{card.label.card.number}">Card number</label>
                                </div>
                                <label class="error" th:errors="*{cardNumber}">Card number error placeholder</label>

                                <div class="form-floating mb-3">
                                    <input type="text" th:field="*{cardHolder}" placeholder="Card Holder"
                                           class="form-control"/>
                                    <label th:text="#{card.label.card.holder}">Card holder</label>
                                </div>
                                <label class="error" th:errors="*{cardHolder}">Card holder error placeholder</label>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="Expiration Date"
                                           th:field="*{expirationDate}"/>
                                    <label>Expiration Date</label>
                                </div>
                                <label class="error" th:errors="*{expirationDate}">Expiration Date error
                                    placeholder</label>

                                <div class="form-floating mb-3">
                                    <input type="text" th:field="*{checkNumber}" placeholder="Check Number"
                                           class="form-control"/>
                                    <label th:text="#{card.label.check.number}">Card check number</label>
                                </div>
                                <label class="error" th:errors="*{checkNumber}">Card check number error
                                    placeholder</label>

                                <div class="form-floating mb-3">
                                    <select th:field="*{type}" class="form-control">
                                        <option selected value="0">Select type ↓</option>
                                        <option th:text="Credit" th:value="CREDIT">Credit card</option>
                                        <option th:text="Debit" th:value="DEBIT">Debit card</option>
                                    </select>
                                </div>

                                <div class="d-grid">
                                    <button id="signin"
                                            class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                            type="submit" value="Add">Add
                                    </button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../../js/scripts.js"></script>

<script type="text/javascript" src="../../js/jquery.js"></script>
</body>
</html>